---
import Layout from '@layouts/Layout.astro'
import Contact from '@components/Contact.astro'

import directus from '@lib/directus'
import { readItems } from '@directus/sdk'

export async function getStaticPaths() {
  const legalPages = await directus.request(
    readItems('legal_pages', {
      fields: ['*'],
      filter: {
        status: {
          _eq: 'published',
        },
      },
    })
  )
  return legalPages.map((legalPage) => ({ params: { slug: legalPage.slug }, props: legalPage }))
}
const legalPage = Astro.props
export const prerender = true;

const dateUpdated = new Date(legalPage.date_updated).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---

<Layout title={legalPage.title}>
  <header
    class="bg-cover bg-center"
    style={`background-image: url(${import.meta.env.PUBLIC_API}/assets/cf4f8ff3-877f-4546-8412-112775fb03f9.jpg);`}>
    <div class="backdrop-blur-xs bg-white/80">
      <div class="container mx-auto text-center py-10 md:py-20">
        <h1 class="text-4xl md:text-5xl font-extrabold mb-3">{legalPage.title}</h1>
        <p>Last updated: {dateUpdated}</p>
      </div>
    </div>
  </header>
  <article class="prose md:prose-lg max-w-screen-2xl mx-auto px-8 md:py-10">
    <p set:html={legalPage.content} />
  </article>

  <section class="bg-primary-50" id="contact">
    <Contact />
  </section>
</Layout>
