---
import Layout from "@layouts/Layout.astro";
import directus from "@lib/directus";
import { readSingleton, readItems } from "@directus/sdk";

const homePage = await directus.request(readSingleton("home_page"));
const services = await directus.request(
  readItems("card", {
    fields: [
      "headline",
      "content",
    ],
  })
);

---
<Layout title={homePage.title}>
  <main>
    <div>
      <h1>{homePage.heroHeadline}</h1>
      {homePage.title}
      <p set:html={homePage.heroContent} />
      {homePage.heroButtons?.map(button => ( // Optional chaining for buttons
        <button>
          <a href={button?.href}>{button?.label}</a>
        </button>
      ))}
    </div>
    <ul>
      {
        services.map((service) => (
          <li>
            <a href={`/services/${service.slug}`}>
              <h2>{service.headline}</h2>
            </a>
            <span>
              {service.content}
            </span>
          </li>
        ))
      }
     </ul>
  </main>
</Layout>